@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #0D0D0D !important;
}

.primarycolor {
  color: #FF9F0D;
}


.primaryborder{
  border-color: #FF9F0D;
}
    
.primaryBgcolor {
  background: #FF9F0D !important;

}

.primaryBorderColor {
  border-color: #FF9F0D;

}

.headerBgimg{
  background: url(../assets/image/headerBgImg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(50px);
}
.restaurantActiveProcessbg{
  background: url(../assets/image/RestaurantActiveProcessbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(50px);
}
.choosegroupbackround{
  background: url(../assets/image/whychooseus/GroupBackround.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(50px);
}

.scroll-hidden::-webkit-scrollbar {
  /* width: 1px; */
  /* height: 1px; */
}
.scroll-hidden::-webkit-scrollbar-track {
  background: #FF9F0D;
}

.scrollberContainer{
  list-style: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollberContainer::-webkit-scrollbar{
  display: none;
}