@tailwind base;
@tailwind components;
@tailwind utilities;


.bodyBgColorBlack {
  background: #0D0D0D !important;
}
.bodyBgColorWhite {
  background: #ffffff !important;
}

.primarycolor {
  color: #FF9F0D;
}


.primaryborder{
  border-color: #FF9F0D;
}
    
.primaryBgcolor {
  background: #FF9F0D !important;

}

.primaryBorderColor {
  border-color: #FF9F0D;

}

.headerBgimg{
  background: url(../assets/image/headerBgImg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(50px);
}
.aboutteammem{
  background: url(../assets/about/unsplash_OzBLe_Eg1mg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(50px);
}
.restaurantActiveProcessbg{
  background: url(../assets/image/RestaurantActiveProcessbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(50px);
}
.choosegroupbackround{
  background: url(../assets/image/whychooseus/GroupBackround.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(50px);
}

.scroll-hidden::-webkit-scrollbar {
  /* width: 1px; */
  /* height: 1px; */
}
.scroll-hidden::-webkit-scrollbar-track {
  background: #FF9F0D;
}

.scrollberContainer{
  list-style: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollberContainer::-webkit-scrollbar{
  display: none;
}

#labels-range-input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background-color: #FF9F0D !important ;
  border: 3px solid #fff;
  box-shadow: 0px 0px 6px #494949;
}

.categorycheckbox:checked{
  color: #FF9F0D;
  background: #FF9F0D;
}
.categorycheckbox[type='checkbox'] {
  color: #FF9F0D;
  background: #FF9F0D;
}


.profileCard:hover > .aboutsocialani {
  top: 4px;
  animation-duration: 1s;
  transition: 0.5s;
}
.aboutsocialani {
  position: absolute ;
  top: -200px;
  right: 4px;
  transition: 0.5s;
}
